@import "config";

button {
  width: $button-width;
  color: $white;
  background-color: $cyan;
  background: linear-gradient(0.37turn, $cyan, $blue);
  border: none;
  border-radius: 50px;
  font-family: $raleway;
  font-size: 14px;
  font-weight: 700;
  padding: 16px;
  @media screen and (min-width: 640px) {
    font-size: 16px;
  }
}
