@import "config";

button {
  color: $white;
  background-color: $cyan;
  background: linear-gradient(0.25turn, $cyan, $blue);
  border: none;
  border-radius: 50px;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 700;
  padding: 8px 52px;
}
