$mobile-breakpoint: 375px;
$desktop-breakpoint: 1440px;

$box-gap: 20px;
$header-padding: 24px;
$header-height: 24px;

$scroll-margin: calc($header-height + 2 * $header-padding);

$primary-intro-sign-up: hsl(217, 28%, 15%);
$primary-main: #181f2a;
$primary-footer: hsl(216, 53%, 9%);
$primary-testimonials: hsl(219, 30%, 18%);

// For the cta gradient
$cyan: #63e1d9;
$blue: #34a0cd;
// For the error
$light-red: hsl(0, 100%, 63%);

$white: #fff;

$raleway: "Raleway", sans-serif;

$button-width: 240px;
$input-width: 240px;
