#features {
  display: grid;
  grid-template-columns: 1fr;
  gap: 80px;
  article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    h2 {
      text-align: center;
    }
    p {
      text-align: center;
      font-size: 14px;
      line-height: 21px;
    }
  }
}
