@import "config";
.productive {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  img {
    width: 100%;
  }

  &-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;

    h2 {
      text-align: center;
    }
  }
}
