@import "config";

#sign-in {
  position: relative;
  background-color: $primary-testimonials;
  border-radius: 8px;
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  gap: 16px;
  p {
    text-align: center;
  }
  label {
    display: none;
  }
  input {
    width: $input-width;
    padding: 16px 36px;
    font-size: 10px;
    border: none;
    border-radius: 50px;
    &::placeholder {
      color: #c0c0c0;
    }
  }
}

#error-message {
  position: absolute;
  color: red;
  justify-self: start;
  padding-left: 36px;
  margin-top: -12px;
  font-size: 10px;
}

.hide {
  display: none;
}
