@import "config";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: $white;
  background-color: $primary-main;
}

a {
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  color: $white;
  cursor: pointer;
}

li {
  list-style: none;
}

section {
  scroll-margin-top: $scroll-margin;
}

header {
  position: sticky;
  top: 0;
  width: 100%;

  padding: $header-padding;
  background-color: $primary-main;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;
      gap: 20px;
    }
    a,
    img {
      height: $header-height;
    }
  }
}

footer {
  padding-inline: 24px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 48px;
  padding-bottom: 40px;
  section {
    ul {
      display: flex;
      flex-direction: column;
      gap: 16px;
      li {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        letter-spacing: 0.2px;
        gap: 20px;
      }
    }
  }
}

.social {
  display: flex;
  justify-content: center;
  gap: 20px;
  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    border: 1px solid $white;
    border-radius: 50%;
  }
}

@import "desktop";
