@import "config";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&family=Raleway:wght@400;700&display=swap");

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  color: $white;
  background-color: $primary-main;
}

a {
  font-family: "Raleway", sans-serif;
}

header {
  position: sticky;
  top: 0;
  width: 100%;

  padding: $header-padding;
  background-color: $primary-main;
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    ul {
      display: flex;
      gap: 20px;
      li {
        list-style: none;
        a {
          text-decoration: none;
          color: $white;
          cursor: pointer;
        }
      }
    }
    a,
    img {
      height: $header-height;
    }
  }
}

section {
  scroll-margin-top: $scroll-margin;
}

@import "desktop";
